@model IEnumerable<Employee_Mini_Proj.Models.Employee>

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2 class="display-4">Welcome To Employee Management</h2>
        <br /><br />
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
        <br />
        <a class="btn btn-outline-success" asp-area="" asp-controller="Employees" asp-action="Create">Register</a>
    </div>
    <div class="col-lg-6 order-1 order-sm-2 hero-img"> 
    <img src="~/Images/hero-img.png" class="img-fluid animated"/>
</div>
</div>

<br />
<br /><br />



