@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>About</h2>
<br />
<br />
<h3>This is a mini project made by Yogesh Kirtane.</h3>
<br />
<p>Initial database for this project is shown in images below</p>
<img src="~/Images/Screenshot_20230223_102857.png"/>
<br />
<br />
<br />
<br />